@import "tailwindcss";

@theme {
  --color-surface: #020617;
  --color-surface-secondary: #111827;

  --color-primary: #DC2626;
  --color-accent: #F59E0B;

  --color-text-primary: #F8FAFC;
  --color-text-secondary: #CBD5E1;
}

body {
  @apply bg-surface text-text-primary;
 
  font-family: Arial, Helvetica, sans-serif;
}
